input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
}

a:focus {
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

body {
	background-color: #e3e3e3;
	padding: 50px;
}

.wd-subform {
	margin-bottom: 15px
}

.wd-subform.wd-input-select {
	border: 1px solid #ddd;
	padding: 10px;
	background-color: #eee;
	border-radius: 5px;
}

.wd-subform.wd-input-select:last-child {
	margin-bottom: 0;
}

.wd-icon {
	position: absolute;
	right: 0;
	top: 0;
}

.wd-icon .glyphicon {
	margin: 2px;
}

.wd-relative {
	position: relative;
}

button.wd-multiple {
	display: block;
	margin-bottom: 10px;
}

.wd-remove-icon {
	cursor: pointer;
}