/vendor/
/composer.lock
/adminer/
/nbproject/
/src/WebDreamt/Propel/propel.php
/db/Propel/propel.php
/fonts/
/db/
/bower_components/
/less/
/img/
js/*
!js/webdreamt.js
css/*
!css/webdreamt.css
/node_modules/
dist/*
!dist/build.min.css
!dist/build.min.js