/vendor/
/composer.lock
/adminer/
/nbproject/
/src/WebDreamt/Propel/propel.php
/db/Propel/propel.php
/db/
/bower_components/
/less/
/node_modules/
dist/*
/tests/src/WebDreamt/output/
/tests/src/WebDreamt/Component/output/